body{
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background: white;	
	color: #222222;
}

*{
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
}

header{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.top_left,
.top_right{
	display: flex;
}

.logo{
	margin: 9.29px 50px 13.15px 40px;
}

.top_menu{
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
}

.polis,
.institut{
	padding: 24px 20px 23px 20px; 
}

.selected{
	border-bottom: 2px solid #2C4799;
	padding-bottom: -2px;
}

.phones{
	display: flex;
	margin: 12px 0 13px 30px;
	min-width: 174px;
}

.phones_name{
	color: #969696;
	margin-right: 10px;
}

.phones_numbers{
	margin-right: 30px;
}

.right_menu{
	margin-right: 40px;
	display: flex;
}

.user_name{
	color: #2C4799;
	margin: 23px 5px 24px 0;
}

.photo{
	margin: 22px 8px 24px 20px;
}

.menu_arrow{
	margin: 23px 20px 28px 0;
}

.polis_selected,
.institut_selected{
	max-width: 1440px;
	margin: 0 auto;
}

.my_polis{
	background: url("images/polis_bg.jpg");
	background-position: center;
	background-size: cover;
	padding: 0 120px 50px;
}

.ma_polis_title{
	padding: 50px 0 20px 0;
	color: white;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}

.my_polis_content{
	display: flex;
	justify-content: space-between;
	margin-right: -20px;
}

.polis_list{
	min-width: 380px;
	min-height: 220px;
	background: white;
	border-radius: 20px;
	position: relative;
	margin-right: 20px;
}

.user_data{
	margin: 21px 0 0 44px;
}

.user_fio{
	color: #969696;
}

.polis_name{
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
	margin-bottom: 10px;
}

.end_polis_text{
	color: #969696;
	margin-right: 5px;
}


.category_icon,
.category_icon_2{
	position: absolute;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background: white;
	left: -10px;
	top: 35px;
	padding: 12px;
}

.category_icon_2{
	padding: 10px;
}

.new_polis{
	max-width: 125px;
	color: #FFFFFF;
	opacity: 0.7;
	margin: 20px;
}

.my_polis_list_3{
	background: rgba(92, 92, 92, 0.72);
	background-blend-mode: screen;
	backdrop-filter: blur(25px);
}

.disabled{
	display: none;
}

.but{
	display: flex;
	justify-content: flex-start;
	margin: 51px 0 20px 45px;
}

.but_extend,
.but_about{
	width: 120px;
	height: 42px;
	border-radius: 6px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.but_extend{
	color: #FFFFFF;
	background-color: #2C4799;
}

.but_about{
	color: #2C4799;;
	border: 1px solid #2C4799;
	background-color: #FFFFFF;
}

.polis_arrow{
	margin: 87px 0 20px 20px;
}

.recommendations{
	padding: 70px 130px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
}

.recommendations_title{
	font-size: 26px;
	line-height: 29px;
}

.recommendations_list{
	display: flex;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-bottom: -20px;
}

.recommendations_item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 380px;
	height: 241px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-position: center;
	background-size: cover !important;
}

.rec_item_title{
	margin: 20px 0 0 20px;
	font-size: 26px;
	line-height: 29px;
	min-height: 58px;
}

.rec_item_info{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	margin: 10px 0 0 20px;
	min-height: 69px;
}

.rec_arrow{
	margin: 0 0 20px 20px;
}

footer{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 130px 60px;
}
.footer_left div{
	color: #2C4799;
	margin-bottom: 5px;
}

.footer_left .footer_bot{
	font-size: 13px;
	line-height: 19px;
	color: #969696;
	opacity: 0.6;
	margin-top: 15px;
}

.footer_right .phones{
	margin-top: 0;
}

.phones .phones_name div,
.phones .phones_numbers div{
	margin-bottom: 5px;
}

.footer_right{
	display: flex;
}

.mail{
	margin-right: 98px;
}

.mail_title{
	margin-bottom: 5px;
	color: #969696;
}

.mail_content{
	color: #2C4799;
}