body{
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background: white;	
	color: #222222;
}

*{
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
}

header{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.top_left,
.top_right{
	display: flex;
}

.logo{
	margin: 9.29px 50px 13.15px 40px;
}

.logo_img{
	width:170px;
	height: 48.56px;
}

.top_menu{
	display: flex;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
}

.polis,
.institut{
	padding: 24px 20px 23px 20px; 
}

.selected{
	border-bottom: 2px solid #2C4799;
	padding-bottom: -2px;
}

.phon{
	max-width: 300px;
	padding: 12px 0;
}

.phones_1,
.phones_2{
	display: flex;
}

.phones_name{
	color: #969696;
	margin-right: 10px;
}

.phones_numbers{
	margin-right: 30px;
	min-width: 120px; 
}

.right_menu{
	margin-right: 40px;
	display: flex;
}

.user_name{
	color: #2C4799;
	margin: 23px 5px 24px 0;
}

.photo{
	margin: 22px 8px 24px 20px;
}

.menu_arrow{
	margin: 23px 20px 28px 0;
}

.polis_selected{
	max-width: 1440px;
	margin: 0 auto;
}

.my_polis{
	background: url("images/polis_bg.jpg");
	background-position: center;
	background-size: cover;
	padding: 0 120px 50px;
}

.my_polis_title{
	padding: 50px 0 20px 0;
	color: white;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
}

.my_polis_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -20px;
}

.polis_list{
	width: 380px;
	height: 220px;
	background: white;
	border-radius: 20px;
	position: relative;
	margin-right: 20px;

}

.user_data{
	margin: 21px 0 0 44px;
}

.user_fio{
	color: #969696;
}

.polis_name{
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
	margin-bottom: 10px;
}

.polis_end_date{
	max-width: 260px;
}

.end_polis_text{
	color: #969696;
	margin-right: 5px;
}


.category_icon,
.category_icon_2{
	position: absolute;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background: white;
	left: -10px;
	top: 35px;
	padding: 12px;
}

.category_icon_2{
	padding: 10px;
}

.my_polis_list_3{
	background-color: rgba(92, 92, 92, 0.72);
	background-blend-mode: screen;
	backdrop-filter: blur(9px);
}

.polis_arrow,
.new_polis{
	filter: blur(0px);
}

.new_polis{
	max-width: 125px;
	color: #FFFFFF;
	opacity: 0.7;
	margin: 20px;
}



.but{
	display: flex;
	justify-content: flex-start;
	margin: 51px 0 20px 45px;
}

.but_extend,
.but_about{
	width: 120px;
	height: 42px;
	border-radius: 6px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.but_extend{
	color: #FFFFFF;
	background-color: #2C4799;
}

.but_about{
	color: #2C4799;;
	border: 1px solid #2C4799;
	background-color: #FFFFFF;
}

.polis_arrow{
	margin: 87px 0 20px 20px;
}

.recommendations{
	padding: 70px 130px;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: bold;
}

.recommendations_title{
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 20px;
}

.recommendations_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -20px;
	margin-bottom: -20px;
}

.recommendations_item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 380px;
	height: 241px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-position: center;
	background-size: cover !important;
}

.recommendations_item:last-child{
	border: 1px solid #EAEDF5;
}

.rec_item_title{
	margin: 20px 0 0 20px;
	font-size: 26px;
	line-height: 29px;
	min-height: 58px;
}

.rec_item_info{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	margin: 10px 0 0 20px;
	min-height: 69px;
}

.rec_arrow{
	margin: 0 0 20px 20px;
	max-width: 24px;
}

footer{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 130px 60px;
}
.footer_left div{
	color: #2C4799;
	margin-bottom: 5px;
}

.footer_left .footer_bot{
	font-size: 13px;
	line-height: 19px;
	color: #969696;
	opacity: 0.6;
	margin-top: 15px;
}

.footer_right .phones{
	margin-top: 0;
	display: flex;
}

.phones .phones_name div,
.phones .phones_numbers div{
	margin-bottom: 5px;
}

.footer_right{
	display: flex;
}

.mail{
	margin-right: 98px;
}

.mail_title{
	margin-bottom: 5px;
	color: #969696;
}

.mail_content{
	color: #2C4799;
}

.hidden,
.icon_disabled_768,
.burger{
	display: none;
}

.no{
	display: none;
}

.enabled_320{
	display: none;
}

.yes_320{
	display: none;
}

.grey_line{
	border-top: 1px solid #969696;
	height: 0.1px;
}


.institut_selected_content{
	border-bottom: 1px solid #969696;
	border-top: 1px solid #969696;
}

.institut_head_radio{
	padding: 18px 0 18px 118px;
	max-width: 1440px;
	margin: 0 auto;
}

.institut_radio input{
	display: none;
}

.radio_choise{
	padding: 7px 14px;
	display: flex;
}

.list_logo,
.map_logo{
	margin-top: 2px;
	margin-right: 6px;
}

.institut_radio>div{
	display: inline-flex;
 	align-items: center;
 	user-select: none;
}

#list:checked~.radio_choise{
	background: #EAEDF5;
	border-radius: 37px;
}

#map:checked~.radio_choise{
	background: #EAEDF5;
	border-radius: 37px;
}

.institut_list_content{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.list_left{
	width: 1061px;
	padding: 50px 51px 70px 130px;
	border-right: 1px solid #969696;
}

.list_right{
	flex-grow: 1;
}

.clinick_title{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 15px;
}

.clinick_adress{
	color: #2C4799;
	margin-bottom: 15px;
}

.clinick_info{
	display: flex;
	margin-bottom: 15px;
}

.info_title{
	color: #969696;
	margin-bottom: 5px;
}

.clinick_info_time,
.clinick_info_phone{
	margin-right: 66px;
}

.clinick_info_phone .info_content{
	color: #2C4799;
}

.list_left_item{
	border-bottom: 1px solid #969696;
	padding-bottom: 50px;
}

.list_left_item:last-child{
	padding-bottom: 70px;
	border-bottom: none;
}

.pagination{
	width: 280px;
	height: 48px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.pagination_elem>div{
	display: flex;
 	align-items: center;
 	user-select: none;
 	height: 48px;
 	width: 48px;
 	border-radius: 50%;
 	justify-content: center;
}

.pagination_elem input{
	display: none;
}

.pagination_elem:hover:not(:checked){
	background: #969696;
	border-radius: 50%;

}

#N1:checked~div,
#N2:checked~div,
#N3:checked~div,
#N:checked~div,
#N6:checked~div{
	background: #2C4799;
}

.list_right{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.filter{
	margin: 0 auto;
	position: relative;
	padding-bottom:30px;
	
}

.filter input{
	width: 321px;
}

.filter svg{
	position: absolute;
	top: 32px;
	right: 5px;
}

.img_map{
	width: 379px;
	height: 150px;
	background: url("images/map.png");
	background-position: center;
	background-size: cover;
	margin: 0 auto 40px;
	display: inline-flex;
}

.img_map button{
	margin: auto;
}

.program{
	margin: 40 auto;
}

.checkbox{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	width: 321px;
}

.checkbox label{
	margin: 15px auto 0 62px;
	position: relative;
}


.checkbox label input{
	width: 22px;
	height: 22px;
	position: absolute;
	left: -32px;
}

.program_title{
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
}

.program_logo span{
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin-left: 9px;
}

.program_logo{
	display: flex;
	align-items: flex-start;
}

.reset{
	color: #2C4799;
	font-size: 13px;
	line-height: 19px;
}

.work_time{
	margin: 40px 0;
}

.map1{
	background-size: cover;
	background: url("images/map_1.png");
	height: 779px;
	background-position: center;
	margin: -50px -51px -70px -130px;
}





/* для 1024<x<1440*/

@media (max-width: 1439px) and (min-width: 1024px){
	header{
		max-width: 1024px;
	}

	.polis_list{
		margin-bottom: 20px;
		width: 440px;
		height: 220px;

	}

	.my_polis_title	{
		max-width: 900px;
		margin: 0 auto;
	}

	.recommendations_title{
		max-width: 900px;
		margin: 0 auto 20px;
	}

	.my_polis{
		padding: 0 62px 60px;
	}

	.recommendations{
		padding: 70px 70px 70px 74px;
	}


	.recommendations_item{
		width: 430px;
		height: 241px;
	}

	footer{
		padding: 20px 70px 60px;
		max-width: 1024px;
	}
	
	.no{
	display: inline;
	}

	.hidden{
		display: block;
		visibility: hidden;
	}

	.institut_head_radio{
	padding: 18px 0 18px 72px;
	max-width: 1024px;
	margin: 0 auto;
	}

	.filter input{
		width: 280px;
	}

	.img_map{
		width: 320px;
		height: 150px;
	}

	.program_title{
		margin: 0 20px;
	}

	.checkbox{
		width: 280px;
	}

	.checkbox label{
		margin:15px auto 0 52px;
	}

	.institut_list_content{
		max-width: 1024px;
	}

	.list_left{
		padding-left: 72px;
		width: 705px;
	}

	.map1{	
		height: 752px;
		margin: -50px -51px -70px -72px;
	}
}

}

/* для 768<x<1024*/

@media (max-width: 1023px) and (min-width: 768px){
	header{
		max-width: 768px;
	}

	.polis_list{
		margin-bottom: 20px;
		width: 340px;
	}

	.my_polis_title	{
		max-width: 680px;
		margin: 0 auto;
	}

	.my_polis{
		padding: 0 24px 60px;
	}


	.recommendations{
		padding: 70px 34px 70px;
	}

	.recommendations_title{
		max-width: 680px;
		margin: 0 auto 20px;
	}

	.recommendations_item{
		width: 340px;
		height: 241px;
	}

	footer{
		padding: 20px 34px 60px;
		max-width: 768px;
	}

	.mail{
		margin-right: 58px;
	}
 	
 	.top_left{
 		position: relative;
 	}

	.change{
		width: 252px;
		height: 114px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 60px;
		right: -470px;
		background: white;
		border-radius: 3px;
	}



	.change .polis{
		border: none;
		margin: 29px 0 11px 20px;
		padding: 0;
		display: flex;
		
	}

	.change .institut{
		margin: 0 0 9px 20px;
		padding: 0;
		display: flex;
	}

	.icon_disabled_768{
		display: block;
		margin-right: 6px;
	}

	.burger{
		margin: 0;
		padding: 27px 22px;
		display: block;
	}
	
	.no{
	display: inline;
	}

	.hidden{
		display: block;
		visibility: hidden;
	}

	.change_768{
		display: none;
	}

	.institut_head_radio{
	padding: 18px 0 18px 34px;
	max-width: 768px;
	margin: 0 auto;
	}

	.filter input{
		width: 250px;
	}

	.img_map{
		width: 290px;
		height: 150px;
	}

	.program_title{
		margin: 0 20px;
	}

	.checkbox{
		width: 250px;
	}

	.checkbox label{
		margin:15px auto 0 52px;
	}

	.institut_list_content{
		max-width: 768px;
	}

	.list_left{
		padding-left: 34px;
		padding-right: 40px;
		width: 478px;
	}

	.clinick_info{
		flex-wrap: wrap;
	}

	.clinick_info_site{
		margin-top: 15px;
	}

	.map1{	
		height: 500px;
		margin: -50px -40px -70px -34px;
	}


}

@media (max-width: 767px){
	body{
		min-width: 320px;
	}

	header{
		max-width: 320px;
		width: 320px;
		align-items: center;	
	}

	.phon,
	.user_name,
	.menu_arrow,
	.top_menu{
		display: none;
	}
	
	.logo{
		margin: 7px 0 9px 20px;
	}

	.logo_img{
		width: 122px;
		height: 34.85px;
	}

	.right_menu{
		margin: 13px 20px;
		padding:  0;
	}

	.selected{
		border-bottom: none;
	}

	.burger{
		display: block;
		margin: 1px 0 0 13px;
		padding: 0;
	}

	.photo{
		margin: 0;
		padding: 0;
	}

	.top_line{
		border-top: 1px solid #EAEDF5;	
	}



	.enabled_320{
		display: flex;
		min-width: 320px;
		padding: 8px 20px;
		justify-content: space-between;
		max-width: 320px;
		margin: 0 auto;
	}

	.icon_polis{
		display: flex;
		justify-content: flex-start;
		padding: 7px 15px;
		background-color: #EAEDF5;
		border-radius: 37px;
	}

	.icon_polis_320{
		margin-right: 6px;
	}

	.icon_recom{
		display: flex;
		justify-content: flex-start;
		padding: 7px 0;
		
	}

	.polis_selected{
		min-width: 320px;
	}

	.my_polis{
		padding: 50px 20px 20px;
	}

	.my_polis_title{
		font-size: 28px;
		line-height: 40px;
		padding: 0 0 20px;
		margin: 0 auto;
		max-width: 320px;
	}

	.polis_list{
		width: 280px;
		height: 122px;
		margin-bottom: 20px;

	}

	.my_polis_list_2{
		height: 210px;
	}

	.my_polis_list_3{
		height: 153px;
	}

	.my_polis_content{
		flex-direction: column; 
		align-items: center;
	}

	.polis_name{
		color: #2C4799;
	}

	.but_about{
		display: none;
	}

	.category_icon,
	.category_icon_2{
		top: 20px;
		left: 250px;
	}

	.user_data{
		margin-left: 20px;
		margin-top: 15px;
	}

	.but{
		margin: 20px 15px;
		padding: 0;
	}

	.but_extend{
		width: 250px;
		height: 42px;
		margin: 0;
	}

	.polis_arrow{
		margin: 20px;
	}

	.recommendations{
		padding: 70px 20px 20px;
	}

	.recommendations_title{
		font-size: 28px;
		line-height: 40px;
		margin: 0 auto;
		width: 320px;
		margin-bottom: 20px;
	}

	.recommendations_list{
		max-width: 320px;
		margin: 0 auto;

	}

	.recommendations_item{
		width: 280px;
		height: 193px;
		margin-right: 0;
	}

	.rec_item_title{
		font-size: 20px;
		line-height: 26px;
	}

	.rec_item_info{
		font-size: 13px;
		line-height: 19px;
	}

	.recommendations_item_big{
		height: 222px;
	}

	.recommendations_item_small{
		height: 130px;
	}

	.no_320{
		display: none;
	}

	footer{
		width: 320px;
		margin: 0 auto;
		padding: 0 20px;

	}

	.yes_320{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 320px;
		margin-top: 20px;


	}

	.phones_320{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.left_320{
		margin-right: 31px;
	}

	.phone_names_320{
		color: #969696;
	}
	
	.mail_title{
		margin-bottom: 0;
	}

	.polit_info{
		color: #2C4799;
		margin: 20px 0;

	}

	.footer_bot{
		color: #969696;
		opacity: 0.6;
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 44px;
	}

	.no{
		display: inline;
	}

	.institut_selected_content{
	display: none;
	}	

}

.disabled{
	display: none;
}

.cli:hover,
.but_about:hover,
.but_extend:hover,
.rec_arrow:hover,
.pagination_elem:hover{
	cursor: pointer;
}